# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
playwright-report
tests/e2e/prisma/dev.db

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# build artifacts
dev.db-journal
dist
dist-ssr
tsconfig.tsbuildinfo
.cache
.rollup.cache
**/.wrangler/**

**/generated/**
**/*.generated.*
apps/web/src/pages/docs/**/*.mdx
apps/web/src/app/docs/**/*.mdx
