name: E2E Tests

on:
  push:
    branches: [master]
  pull_request:
    types: [opened, synchronize]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
      redis-cluster:
        image: grokzen/redis-cluster:6.2.14
        ports:
          - 7006:7000
          - 7001:7001
          - 7002:7002
          - 7003:7003
          - 7004:7004
          - 7005:7005
    strategy:
      matrix:
        node-version: [lts/*]

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5

      - name: Setup Node.js 24.x
        uses: actions/setup-node@v6
        with:
          node-version: 24.x

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0

      - name: Install Dependencies
        run: pnpm install

      - name: Setup dev.db
        run: |
          pnpm prisma generate
          pnpm prisma db push
        working-directory: tests/e2e

      - name: Install Playwright
        run: pnpm dlx playwright install chromium

      - name: Test
        run: pnpm test:e2e

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: tests/e2e/playwright-report
          retention-days: 14
