name: Type Tests

on:
  push:
    branches: [master]
  pull_request:
    types: [opened, synchronize]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [lts/*]

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5

      - name: Setup Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: 24.x

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0

      - name: Install Dependencies
        run: pnpm install

      - name: Test
        run: pnpm test:types

